
/*Concerning the whole html doc*/

body,footer,html {
    margin: 0px;
}

/*Link stuff*/

a:link {
    color: rgb(0, 102, 255);
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: rgba(0, 102, 255, 0.5);
    background-color: transparent;
    text-decoration: underline;
}

/*Div classes*/

.mainPageHeader {
    /*Shape and position*/
    position: relative;
    z-index: 3;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 300px;
    
    /*Shadow*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Content*/
    display: flex; 
    justify-content: center;
    align-items: center;

    /*Background*/
    background-color: white;
    background-image: url(/Resources/mainPageHeaderBgImg.jpg);
    background-repeat: repeat;
    background-size: fill;
    
}

    .mainPageHeaderLogo {
        font-family: sans-serif;
        font-size: 55px;
        font-weight: bold;
    }

    .mainPageHeaderSmallerText {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: white;
    }

.mainPageBody {
    /*Shape and position*/
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin: 0px;
    height: 800px;
    

    /*Shadow*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Background*/
    background: #565869;
}

    .mainPageBodyAbtMeBtn {
        /*Shape and position*/
        position: relative;
        z-index: 2;
        margin-top: 5%;
        margin-left: 25%;
        width: 50%;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
        
        /*Border*/
        border-color: #8a8686;
        border-radius: 10px;

        /*Background*/
        background: #565869;

        /*Font*/
        font-family: consolas;
        font-weight: bold;
    }

    .mainPageBodyCareerBtn {
        /*Shape and position*/
        position: relative;
        z-index: 2;
        margin-top: 5%;
        margin-left: 25%;
        width: 50%;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
        
        /*Border*/
        border-color: #8a8686;
        border-radius: 10px;

        /*Background*/
        background: #565869;

        /*Font*/
        font-family: consolas;
        font-weight: bold;
    }

    .mainPageBodyProjectsBtn {
        /*Shape and position*/
        position: relative;
        z-index: 2;
        margin-top: 5%;
        margin-left: 25%;
        width: 50%;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
        
        /*Border*/
        border-color: #8a8686;
        border-radius: 10px;

        /*Background*/
        background: #565869;

        /*Font*/
        font-family: consolas;
        font-weight: bold;
    }

.mainPageFooter {
    /*Shape and position*/
    position: relative;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    height: 100px;
    
    /*Shadow*/
    background: #282828;

    /*Background*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Font*/
    font-family: sans-serif;
    font-size: 15px;
    color: aliceblue;
}