/* Fonts */

@font-face {
    src: url(Resources\Roboto_Mono\static\RobotoMono-Medium.ttf);
    font-family: 'Roboto Mono', monospace;
}

/* Scrollbar */

::-webkit-scrollbar { /* width */
    width: 10px;
}

::-webkit-scrollbar-track { /* Track */
    background: #565869; 
}

::-webkit-scrollbar-thumb { /* Handle */
    background: #888; 
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}

/*Concerning the whole html doc*/

body,footer,html,button,div {
    /* Size */
    margin: 0px;
    padding: 0px;

    /* Position */
    position: relative;

    /* Cosmetics */
    color: #252525;
    background: #565869;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-color: #8a8686;
    
    /* Images and content */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    
    /* Transitions */
    transition: all 0.3s ease;
}

button {
    /* Cosmetics */
    border-style: outset;
}

h1 {
    /* Position */
    position: absolute;

    /* Cosmetics */
    color: white;
}

h2 {
    /* Size */
    font-size: 200%;

    /* Cosmetics */
    color: #252525;

    /* Images and content */
    text-align: center;
}

/*Link stuff*/

a:link {
    /* Cosmetics */
    color: rgb(0, 102, 255);
    text-decoration: underline;
}

a:hover {
    /* Cosmetics */
    color: rgba(0, 102, 255, 0.5);
}

/*Top box in the body */

.bodyTopBox {
    /* Position */
    z-index: 3;

    /* Size */
    margin: 0px;
    height: 300px;

    /* Images and content */
    display: flex; 
    align-items: center;
    background-image: url(mainPageHeaderBgImg.jpg);
}

.nameHeader {
    /* Cosmetics */
    font-size: 400%;
}

.nameHeaderUnderText {
    /* Position */
    transform: translateY(45px);

    /* Cosmetics */
    font-size: 200%;
}

.nameHeaderBlinkingUnderscore {
    /* Position */
    transform: translate(170px,45px);

    /* Cosmetics */
    font-size: 200%;
}

/*Body of the body ;) */

.bodyMiddleBox {
    /* Position */
    z-index: 2;

    /* Size */
    padding-top: 5%;
    height: 800px;
}   

.barSeparator {
    /* Size */
    padding-top: 0.5%;
    margin-left: 2.5%;
    width: 95%;

    /* Cosmetics */
    background: #282828;
    border-style: outset;
    border-radius: 5px;
}

.expandingButton {
    /* Size */
    margin-top: 5%;
    margin-left: 12.5%;
    width: 75%;
    
    /* Cosmetics */
    border-radius: 10px;
}

.expandingButton:hover {
    /* Cosmetics */
    background-color: #494a58;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}

.expandingButtonBox {
    /* Size */
    margin-top: 0%;
    margin-left: 12.5%;
    width: calc(75% - 6px);
    height: 0;

    /* Content */
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    
    /* Cosmetics */
    border-style: none;
    border-radius: 0 0 10px 10px;
    background-color: #3f414d;
}

.expandingButtonBoxParagraph {
    /* Position */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2.5%;
}

.profileImageBox {

    /* Size */
    width: 300px;
    height: 200px;

    /* Position */
    margin-top: 2.5%;
    margin-left: 50px;

    /* Image stuff */
    background-image: url(profilePic.png);

    /* Border */
    border-style: outset;
    border-radius: 10px;
}

/*Footer*/

.footerBox {
    /*Shape and position*/
    z-index: 1;
    padding-top: 1px;
    margin: 0px;
    height: 100px;
    
    /* Cosmetics */
    background: #282828;
    font-size: 15px;
    color: aliceblue;
}