/* Fonts */
@font-face {
    src: url(Resources\Roboto_Mono\static\RobotoMono-Medium.ttf);
    font-family: 'Roboto Mono', monospace;
}


/*Concerning the whole html doc*/

body,footer,html {
    margin: 0px;
    padding: 0px;
}

/*Link stuff*/

a:link {
    color: rgb(0, 102, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: rgba(0, 102, 255, 0.5);
    background-color: transparent;
    text-decoration: underline;
}

/*Header of the body*/

.mainPageHeader {
    /*Shape and position*/
    position: relative;
    z-index: 3;
    margin: 0px;
    height: 300px;
    
    /*Shadow*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Display*/
    display: flex; 
    justify-content: center;
    align-items: center;
    
    /*Background*/
    background-color: white;
    background-image: url(mainPageHeaderBgImg.jpg);
    background-repeat: repeat;
    background-size: fill;
    
    /*Font*/
    font-family: 'Roboto Mono', monospace;
}

    .mainPageHeaderLogo {
        /*Shape and position*/
        position: absolute;

        /*Font and text*/
        font-size: 400%;
        font-weight: bold;
    }

    .mainPageHeaderSmallerText {
        /*Shape and position*/
        position: absolute;
        transform: translateY(45px);

        /*Font and text*/
        font-size: 200%;
        font-weight: bold;
        color: white;
    }

    .mainPageHeaderBlinkingUnderscore {
        /*Shape and position*/
        position: absolute;
        transform: translate(170px,45px);

        /*Font and text*/
        font-size: 200%;
        font-weight: bold;
        color: white;
    }

/*Body of the body ;) */

.mainPageBody {
    /*Shape and position*/
    position: relative;
    z-index: 2;
    margin: 0%;
    padding-top: 5%;
    height: 800px;
    transition: all 0.4s ease;

    /*Shadow*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Background*/
    background: #565869;

}   

    .mainPageBodyGetToKnowMe {
        /*Shape and position*/
        position: relative;

        /*Font and text*/
        font-family: 'Roboto Mono', monospace;
        font-size: 200%;
        font-weight: bold;
        color: #282828;
        text-align: center;
    }

    .mainPageBodyBar {
        /*Shape and position*/
        position: relative;

        padding-top: 0.5%;
        margin-left: 2.5%;
        width: 95%;

        /*Background*/
        background: #282828;

    }

    .mainPageBodyBtn {
        /*Shape and position*/
        position: relative;

        margin-top: 5%;
        margin-left: 12.5%;
        width: 75%;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
        
        /*Border*/
        border-color: #8a8686;
        border-radius: 10px;

        /*Background*/
        background-color: #565869;

        /*Font*/
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;

        /*hover transition*/
        transition-duration: 0.6s;
    }

    .mainPageBodyButtonBox {
        /*Shape and position*/
        position: relative;

        margin-top: 0%;
        margin-left: 12.5%;
        width: calc(75% - 6px);
        height: 0;
        overflow: hidden;
        transition: all .3s ease;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
        
        /*Border*/
        border-style: none;
        border-radius: 0 0 10px 10px;
        border-color: #8a8686;

        /*Background*/
        background-color: #3f414d;

        /*Font*/
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
    }

    .mainPageBodyButtonBoxParagraph {

        /* Position */
        margin-left: 12.5%;

        /*Font*/
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
    }

    .mainPageBodyButtonBoxWhoamiImg {

        /* Size */
        width: 300px;
        height: 40%;

        /* Position */
        margin-top: 5%;
        margin-right: calc(50% + 300px);
        margin-left: calc(50% - 300px);

        /* Image stuff */
        background-image: url(profilePic.png);
        background-repeat: no-repeat;
        background-size: fill;
    }

    .mainPageBodyBtn:hover {
        /*Background*/
        background-color: #494a58;

        /*Shadow*/
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
    }

/*Footer*/

.mainPageFooter {
    /*Shape and position*/
    position: relative;
    z-index: 1;
    padding-top: 1px;
    margin: 0px;
    height: 100px;
    
    /*Shadow*/
    background: #282828;

    /*Background*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    /*Font*/
    font-family: sans-serif;
    font-size: 15px;
    color: aliceblue;
}