/* Fonts */

@font-face {
    src: url(..\Roboto_Mono\static\RobotoMono-Medium.ttf);
    font-family: 'Roboto Mono', monospace;
}

/* Font Color */

.varColor {
    color: #277df2;
}

.strColor {
    color: #9b5d00
}

/* Scrollbar */

::-webkit-scrollbar { /* width */
    width: 10px;
}

::-webkit-scrollbar-track { /* Track */
    background: #565869; 
}

::-webkit-scrollbar-thumb { /* Handle */
    background: #888; 
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}

/*Link stuff*/

a:link {
    
    color: rgb(0, 102, 255);

    text-decoration: underline;
}

a:hover {
    
    color: rgba(0, 102, 255, 0.5);
}

/*Concerning the whole html doc*/

body,footer,html,button,div {
    
    margin: 0px;

    padding: 0px;

    position: relative;

    color: #252525;

    background: #565869;

    font-family: 'Roboto Mono', monospace;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

    font-weight: bold;

    border-color: #8a8686;
    
    background-repeat: no-repeat;

    background-size: cover;

    justify-content: center;
    
    transition: all 0.3s ease;
}

html {
    background: #ffffff;
}

button {
    
    border-style: outset;

}

/* Text */

h1 {
    
    color: white;

}

h2 {
    
    font-size: 45px;

    color: #252525;

    text-align: center;
}

h3 {

    font-size: 20px;

    color: #bdbdbd;

    text-align: center;

}

.leftTextAlign {
    text-align: left;
}

.breadTextExpandingBox {
    
    color: #bdbdbdb4;

    text-align: center;

    font-weight: lighter;

}

.breadTextExpandingBox.leftTextAlign {

    color: #bdbdbdb4;

    text-align: left;

    font-weight: lighter;
}

/* Top box in the body */

.bodyTopBox {
    
    z-index: 3;

    height: 250px;

    max-height: 250px;

    overflow: hidden;
    
    display: block; 

    text-align: center;

    align-items: center;

    background-color: rgb(113, 162, 146);
    
}

.nameHeader {

    font-size: 75px;

}

.nameHeaderBlinkingUnderscore {

    transform: translate(615px, -142.5px);
    
    font-size: 75px;

}

/*Middle box in the body */

.bodyMiddleBox {

    z-index: 2;

    padding-top: 2.5%;

    height: 1400px;
    
    text-align: center;

}   

.barSeparator {

    margin: auto;

    margin-top: 75px;

    width: 80%;

    height: 5px;

    background: #282828;

    border-style: outset;

    border-radius: 5px;
}

.bottomBarSeparator {

    margin: auto;

    margin-top: 75px;

    width: 80%;

    height: 5px;

    background: #282828;

    border-style: outset;

    border-radius: 5px;

}

.expandingButton {
    
    margin: auto;

    margin-top: 75px;

    width: 75%;

    max-width: 1000px;
    
    border-radius: 10px;

}

.expandingButton:hover {

    background-color: #494a58;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);

}

.expandingButtonBox {

    margin: auto;

    width: 75%;

    max-width: 1000px;

    height: 0;

    padding-bottom: 0;

    flex-wrap: wrap;

    display: flex;

    overflow: hidden;

    overflow-y: scroll;
    
    border-style: none;

    border-radius: 0 0 10px 10px;

    background-color: #3f414d;

    color: #1b1b1b;

}

.internalBlockBox {

    width: 800px;

    margin-left: 2.5%;

    margin-right: 2.5%;

    min-width: 200px;

    display: block;

    background-color: #3f414d;

    box-shadow: none;
    
}

.internalInlineFlexBox {

    width: 800px;

    margin-left: 2.5%;

    margin-right: 2.5%;

    min-width: 200px;

    display: inline-flex;

    background-color: #3f414d;

    box-shadow: none;

}

.SEBImage {
    margin-top: 60px;
}

/*Footer*/

.footerBox {

    z-index: 1;

    padding-top: 1%;

    display: flex;

    height: 150px;
    
    background: #282828;

    font-size: 15px;

    color: aliceblue;

}

.footerBox > * {
    padding: 20px;
}