<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="stylesheet" type="text/css" href="../static/styleSheets.css">

        <title>William Norland</title>

        <meta charset="UTF-8">

        <script type="text/javascript" src="../static/WebPageDynamics.js"></script>

        <script type="text/javascript" src="../static/BtnEventListners.js"></script>

    </head>

    <body>

        <div class = "bodyTopBox">

            <h1 class="nameHeader">
                <span id = "promptArrow"></span>
                <span id = "nameVar" class = "varColor"></span>
                <span id = "eqSign"></span>
                <span id = "nameStr" class = "strColor"></span>
                <span id = "semiCol"></span>
            </h1>

            <h1 id = "blinkingUnderscore" class="nameHeaderBlinkingUnderscore"> </h1>

        </div>

        <div id = "bodyMiddleBox" class = "bodyMiddleBox">

            <h2 class="mainPageBodyGetToKnowMe">Get to know me!</h2>

            <button id ="whoamiBtn" class="expandingButton"><p>Who am i?</p></button>

            <div id = "whoami" class = "expandingButtonBox">

                <div class = "internalBlockBox">

                    <h2> Welcome </h2>

                    <p class = "breadTextExpandingBox">
                        to my personal webpage! My name is William Norland,
                        im born 2001 and based in the city of Gothenburg, Sweden. <br>

                        <br> <strong>What interests me?:</strong> Datascience, Web Application, Embedded software, Desktop Applications, AI, Algorithms, Databases or <br>
                        generally anything related to programming or computer science. <br>

                        <br> <strong>Want to know more?:</strong> checkout my <a href="https://www.linkedin.com/in/william-norland-69475b263/">LinkedIn
                        </a>, <a href="https://github.com/willayy"> GitHub</a> or email me at williamnorland@gmail.com

                    </p>
                    
                    <br> <strong>Picture of me</strong> <br>
                    <img src = "..\static\william_norland.jpg" width = "200" height = "250" alt ="Image not found"> </img>
                    <p class = "breadTextExpandingBox" style="font-size: smaller;"> Photo: CFFC/CFFC.se </p>

                </div>


            </div>

            <button id = "careermeritsBtn" class="expandingButton"><p>My career & Merits</p></button>

            <div id = "careermerits" class = "expandingButtonBox">

                <div class = "internalBlockBox">
                    <h2> Education </h2>
                </div>

                <div class = "internalBlockBox">

                    <h3> High school degree in Science at Polhemsgymnasiet </h3>

                    <p class="breadTextExpandingBox"> class of 2017, Gothenburg
                        <br>
                        <br>
                        <img src = "..\static\polhem-logo-st-bla-1024x480.png" width = "256" height = "120" alt ="Image not found"> </img>
                    </p>

                    <h3> Bachelors degree in Software engineering at CTH (ongoing) </h3>

                    <p class="breadTextExpandingBox"> class of 2022, Gothenburg
                        <br>
                        <br>
                        <img src = "..\static\EN_Avancez_CH_black.png" width = "130" height = "160" alt ="Image not found"> </img>
                    </p>

                </div>

                <div class = "internalBlockBox">
                    <h2> Career </h2>
                </div>

                <div class="internalInlineFlexBox">

                    <img src = "..\static\Älvsborgs_amfibieregemente_vapen.svg.png" width = "150" height = "200" alt ="Image not found"> </img>

                    <div class = "internalBlockBox">

                        <h3> ASW soldier and Minelayer at 5. Amfibiebataljonen, AMF4 </h3>

                        <p class = "breadTextExpandingBox">
                            August 2020 – Juli 2022 <br>
                            Serving as a minelayer and later sonar operator in an ASW group,
                            first as a conscript but continuing as an employed soldier after national service.
                            During this time I also engaged as a platoon training assistant.
                        </p>

                    </div>

                </div>

                <div class = "internalInlineFlexBox">

                    <img class = "SEBImage" src = "..\static\seb_k_neg_45mm150dpi.png" width = "200" height = "50" alt ="Image not found"> </img>

                    <div class = "internalBlockBox">

                        <h3> Client services manager at Skandinaviska Enskilda Banken, SEB </h3>

                        <p class = "breadTextExpandingBox">
                            June 2023 – August 2023 <br>
                            Working mainly with letters of credit and collections,
                            I also developed a text digitalization tool in Python to digitalize a paper “database” into digital
                            form using the Tesseract AI and a simple GUI with TKinter.
                        </p>

                    </div>

                </div>

            </div>

            <button id = "projectsBtn" class="expandingButton"><p>My projects</p></button>

            <div id = "projects" class = "expandingButtonBox">

                <div class = "internalBlockBox">
                    <h2> Projects </h2>
                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> This website! </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> HTML, JavaScript, CSS and Python (flask framework) <br>
                        <br>
                        <strong> Description: </strong> The first webapge i ever built, acting as something in between a CV and a fun and
                        very rewarding hobby project!  <br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/willayy/PersonalWebpage"> GitHub</a>
                    </p>

                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> SNNPy </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> C, CMake, Python <br>
                        <br>
                        <strong> Description: </strong> A simple neural network model implemented in C with a python "api"/adapter.
                        Not really built for maximizing performance rather built for learning and as a fun hobby project.   <br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/willayy/SNNPy"> GitHub</a>
                    </p>

                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> ProgressX fitness </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> Swift <br>
                        <br>
                        <strong> Description: </strong> An iOS Application for logging strength training and featuring automating linear progression,
                        has been in developement since 8 Mars 2023<br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/willayy/ProgressX">GitHub</a> (source code is private for now)
                    </p>

                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> FastXlsToCsv </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> Python, VBScript <br>
                        <br>
                        <strong> Description: </strong> A python module for converting big .xls files to csv faster than parsing and copying. Distributed via PyPi. <br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/willayy/FastXlsToCsv"> GitHub</a>
                    </p>

                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> AUVNye </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> Java <br>
                        <br>
                        <strong> Description: </strong> A simple prototype javaFX application for calculating some formulas used in economics,
                        made to fill a request from a friend who used these formulas a lot <br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/willayy/AUVNye"> GitHub</a>
                    </p>

                </div>

                <div class = "internalBlockBox" >

                    <h3 class="leftTextAlign"> SailingGame </h3>

                    <p class="breadTextExpandingBox leftTextAlign">
                        <strong> Languages: </strong> Java <br>
                        <br>
                        <strong> Description: </strong> A 2d game group project made for the TDA367/DIT213 course at Chalmers University of Technology
                        mainly focusing on Software developement process, MVC pattern and code extendability.  <br>
                        <br>
                        <strong> Source code: </strong> <a href="https://github.com/0-Gixty-0/Grupp-11-OOPP"> GitHub</a>
                    </p>

                </div>

            </div>

        </div>

    </body>

    <footer>

        <div class = "footerBox">

            <p style=> Mail: williamnorland@gmail.com </p>

            <p> <a href="https://www.linkedin.com/in/william-norland-69475b263/"> LinkedIn </a>  </p>

            <p> <a href="https://github.com/willayy"> GitHub </a> </p>

            <script>
                initEventListners()
                initLogoAnimation()
            </script>

        </div>

    </footer>

</html>


